.about_us {
  position: relative;
  padding: 255px 0  0;
  overflow: hidden;

  @include tablet {
    padding: 80px 0  155px 0;
  }

  & .wrap {
    align-items: center;
    justify-content:space-between;

    @include tablet {
      flex-direction: column-reverse;
    }

    & .title {
      margin-bottom: 16px;
    }

    & .about_us-btn {
      display: flex;
      align-items: center;
      margin-top: 24px;

      @include mobile {
        flex-direction: column-reverse;
        row-gap: 20px;
      }

      a {
        margin-right: 24px;
      }

      & .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  & .block-info {
    max-width: 580px;

    @include media-max(1200) {
      max-width: 480px;
    }

    & .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;

      @include mobile {
        font-size: 16px;
        line-height: 130%;
      }
    }
  }

  & .decor-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
& .decor2 {
  @include mobile {

    right: 0;
  }
}
  & .decor {
    @include tablet {
      height: 200px;
    }

    @include mobile {
      height: 10px;
      position: absolute;
    }
  }
}

.about_us-img {
  @include tablet {
    margin-bottom: 40px;
  }
}

.about_us-img svg {
  @include mobile {
    width: 250px;
    height: auto;
  }
}

.about_us .decor {
  @include mobile{
    display: none;
  }
}
