.blog-open {
  padding: 128px 0;

  @include mobile {
    padding: 64px 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    & .crt-date {
      @include tablet {
        order:2;
        width:50%;
        text-align: right;
      }
      @include media-max(450) {
        width: 100%;
        text-align: left;
      }
    }

    & .title {
      @include tablet {
        order: 3;
        text-align: center;
        width: 100%;
      }
    }

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &-img {
    max-height: 548px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-bottom {
    position: relative;
    max-width: 787px;
    width: 100%;
    margin: 32px auto 0 auto;

    & .item {
      & .text {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
      }

      & .title {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
        color: #394149;
      }
    }

    & .footer-links__items {
      position: absolute;
      top: 0;
      right: -100px;
      z-index: 2;
      display: flex;
      flex-direction: column;

      @include media-max(900) {
        right: -50px;
      }

      @include media-max(600) {
        right: 0;
        position: relative;
        flex-direction: revert;
        align-items: center;
        margin: 0 auto;
      }


      a:not(:last-child) {
        margin-bottom: 18px;

        @include media-max(600) {
          margin-bottom: 0;
        }
      }
    }
  }

}


.block-open-info {
  @include media-max(900) {
    width: 85%;
  }

  @include media-max(600) {
    width: 100%;
  }

}
