.business {
  padding: 150px 0;

  @include tablet {
    padding: 120px 0;
  }

  @include mobile {
    padding: 45px 0;
  }

  &-wrap {

    @include tablet {
      flex-direction: column;
    }

  }

  &-info {
    max-width: 480px;
    width: 100%;

    @include media-max(1450) {
      max-width: 350px;
    }


    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 480px;
    }


    p {
      @include tablet {
        text-align: center;
      }
    }

    & .btn-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .flex {
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin-bottom: 16px;

    @include tablet {
      text-align: center;
    }
  }

  & .btn-wrap {
    margin-top: 8px;

    @include mobile {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  & .pay-items {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    margin-top: 16px;

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      button {
        margin-top: 8px;


      }
    }
  }
}


.business-img {
  position: relative;

  @include media-max(1450) {
    margin-left: 90px;
  }

  @include tablet {
    margin-left: 0;
    margin-bottom: 45px;
  }
}

.kust {
  position: absolute;

  &1 {
    bottom: 0;
    left: -100px;
    z-index:-1;

    @include mobile {
      left: -10px;
      bottom: 4px;
    }

    & svg {
      @include mobile {
        height: 65px;
      }
    }
  }

  &2 {
    right: -70px;
    bottom: -10px;

    @include mobile {
      right: 30px;
      bottom: 0;
    }

    & svg {
      @include mobile {
        height: 65px;
      }
    }
  }
}

.business-house svg {
  @include mobile {
    height: 190px;
  }
}