.hero {
  padding: 300px 0;
  overflow: hidden;
  height: 100vh;
  margin-top: -88px;

  @include tablet {
    height: auto;
    padding: 45px 0 45px 0;
    margin-top: 0;
  }

  & .btn {
    width: max-content;
  }

  &-img {
    margin-left: -100px;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    margin-top: 100px;

    @include media-max(1300) {
      margin-left: 0;
      margin-top: 0;
    }
    @include media-max(550) {
      flex-direction: column;
    }

    video {
      border: none;
      outline: none;
      overflow: hidden;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include media-max(900) {
      flex-direction: column;
      margin-top: 88px;
    }
  }

  &-info {
    min-width: 580px;
    max-width: 580px;
    width: 100%;


    & > div:first-child {
      @include media-max(900) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }

    @include media-max(1100) {
      min-width: 420px;
      max-width: 420px;
    }

    @include media-max(500) {
      min-width: auto;
    }

    h1 {
      margin-bottom: 48px;

      @include tablet {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
        margin-top: 0;
      }

      @include media-max(900) {
        text-align: center
      }

      @include mobile {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}

.market-block {
  margin-top: 145px;
  max-width: 420px;
  width: 100%;

  @include media-max(900) {
    margin-top: 60px;
  }

  p:first-child {
    font-weight: 800;
    font-size: 1.250rem;
    margin-bottom: 2px;

    @include mobile {
      font-size: 18px;
    }
  }

  p:nth-child(2) {
    font-size: 0.875rem;
    line-height: 20px;
    max-width: 215px
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 16px;
  max-width: 420px;
  @include media-max(500) {
    flex-wrap: wrap;
    justify-content: center;
  }


  a {
    cursor: pointer;

    @include media-max(500) {
      width: 33.3333%
    }
  }
}

@media (max-width: 1300px) {
  video#autoplay {
    height: 650px;
  }
}

@media (max-width: 768px) {
  video#autoplay {
    height: 550px;
  }
}

video {
  border: none;
  outline: none;
  pointer-events: none;
}