.hero {
  padding: 55px 0 90px 0;
  overflow: hidden;

  &-img {
    @include media-max(550) {
      flex-direction: column;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-max(900) {
      flex-direction: column;
    }
  }

  &-info {
    min-width: 580px;
    max-width: 580px;
    width: 100%;


    & > div:first-child {
      @include media-max(900) {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    @include media-max(1100) {
      min-width: 420px;
      max-width: 420px;
    }

    @include media-max(500) {
      min-width: auto;
    }

    h1 {
      margin-bottom: 48px;

      @include media-max(900) {
        text-align: center
      }
    }
  }
}

.market-block {
  margin-top: 145px;
  max-width: 420px;
  width: 100%;

  @include media-max(900) {
    margin-top: 60px;
  }

  p:first-child {
    font-weight: 800;
    font-size: 1.250rem;
    margin-bottom: 2px;
  }

  p:nth-child(2) {
    font-size: 0.875rem;
    line-height: 20px;
    max-width: 215px
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 16px;
  max-width: 420px;
  @include media-max(500) {
    flex-wrap: wrap;
    justify-content: center;
  }


  a {
    cursor: pointer;

    @include media-max(500) {
      width: 33.3333%
    }
  }
}