.modal {
  position: relative;
  display: none;

  &-window {

    &.show {
      display: flex;
      background: red;
    }

  }




  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }

  &__container {
    position: relative;
    overflow-y: auto;
    margin: 10px;
    border-radius: 22px;
    padding: 46px 62px 68px;
    width: 675px;
    max-height: 90vh;
    box-sizing: border-box;
    background: $color-black;
  }

  &__btn-close {
    position: absolute;
    right: 25px;
    top: 25px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-white;
      transform: rotate(0deg);
      transition: transform 0.25s;
    }

    &:hover svg {
      transform: rotate(90deg);
    }
  }

  &__content {

  }

  &--open {
    display: block;
  }
}