.pay {


  &-img {
    @include media-max(550) {

    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &-info {
    max-width: 480px;
    width: 100%;


    @include tablet {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      margin-bottom: 16px;

      @include mobile {
        font-size:22px;
      }
    }

    p {
      font-weight: 600;
      line-height: 28px;

      @include mobile {
        font-size: 14px;
        line-height: 130%;
      }
    }
  }

  &-items {
    display: flex;
    align-items: center;
    margin-top: 16px;
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    p {
      font-weight: 700;
      line-height: 20px;
      text-align: left;
    }
  }
}


.pay-items-column {
  flex-direction:column;
  align-items: normal;

  & > div {
    margin-bottom: 16px;
  }
}

.pay-img-animate {
  position: relative;

  img {
    @include mobile {
      height: 310px;
    }
  }

  @include media-max(1300) {
    width: 500px;
  }

  @include tablet {
    width: auto;
  }

  & .pay-animate-item {
    position: absolute;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #E5876C;
    font-weight: 800;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }

    &:nth-child(2) {
      font-size: 16px;
      line-height: 24px;
      top: 90px;
      left: -100px;

      @include mobile {
        top: 50px;
        left: -60px;
        font-size: 14px;
      }
    }
    &:nth-child(3) {
      font-size: 20px;
      line-height: 24px;
      top: 180px;
      left: -150px;
      @include mobile {
        top: 120px;
        left: -60px;
        font-size: 16px;
      }
    }
    &:nth-child(4) {
      font-size: 20px;
      line-height: 24px;
      top: 350px;
      left: -110px;

      @include mobile {
        top: 250px;
        left: -60px;
        font-size: 14px;
      }
    }
    &:nth-child(5) {
      font-size: 16px;
      line-height: 24px;
      top: 140px;
      right: -80px;
      @include media-max(1300) {
        right: 60px;
      }
      @include tablet {
        right: -80px;
      }
      @include mobile {
        right: -70px;
        top: 90px;
        font-size: 14px;
      }
    }
    &:nth-child(6) {
      font-size: 20px;
      line-height: 24px;
      top: 300px;
      right: -90px;
      @include media-max(1300) {
        right: 60px;
      }
      @include tablet {
        right: -90px;
      }
      @include mobile {
        right: -50px;
        top: 180px;
        font-size: 16px;
      }
    }
    &:nth-child(7) {
      font-size: 24px;
      line-height: 28px;
      top: 460px;
      right: -20px;

      @include media-max(1300) {
        right: 90px;
      }

      @include tablet {
        right: -20px;
      }
      @include mobile {
        right: -20px;
        top: 260px;
        font-size: 17px;
      }
    }
  }
}


.pay-animate-item.blur {
  font-size: 20px;
  line-height: 24px;
}

.transfer-img {
  position: relative;

  img {
    @include mobile {
      height: 360px;
    }
  }

  & .transfer-el {
    position: absolute;
    top: 130px;
    z-index: -1;
    left: -70px;

    @include mobile {
      top: 120px;
      left: -50px;
    }

    svg {
      @include mobile {
        width: 290px;
      }
    }
  }
}

.application-img img {
  @include mobile {
    height: 400px;
  }
}