.started {
  padding: 70px 0;
  margin-bottom: 68px;
  background: #F6FAFE;

  @include mobile {
    margin-bottom: 40px;
  }
  h2 {
    text-align: center;
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    margin-top: 80px;
    margin-bottom: 50px;
    grid-row-gap: 30px;

    @include media-max(850) {
      grid-template-columns: repeat(2, 6fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
    }

    @include media-max(650) {
      grid-template-columns: repeat(1, 12fr);
      grid-column-gap: 20px;
      grid-row-gap: 18px;
      margin-top: 24px;
      margin-bottom: 40px;
    }
  }

  &-item {

    & > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;

      @include mobile {
        min-height: 150px;    height: auto;
      }
    }
    &--title {
      text-align: center;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 30px;
      color: #E5876C;
      margin-top: 35px;
      margin-bottom: 25px;

      @include mobile {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    &--text {
      font-size: 0.875rem;
      line-height: 20px;
      text-align: center;
      max-width: 215px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.started-item svg{

  @include mobile {
  height: 100px;
}

}