.burger-menu {
  display: none;
  position: relative;
  max-width: 38px;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  z-index: 10;
  background: transparent;
  height: 20px;
  width: 38px;




  span {
    width: 100%;
    height: 4px;
    background: #E5876C;

  }

  @include mobile {
    display: flex;
  }

}

.burger-menu.burger-close span:first-child {
  transform: rotate(-45deg);
}
.burger-menu.burger-close span:last-child {
  display: none;
}
.burger-menu.burger-close span:nth-child(2){
  transform: rotate(45deg);
  position: absolute;
  width: 100%;
}
.burger-menu.burger-close:before {
  display: none;
}