.dropdown-menu__mobile.flex {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex !important;
}

.dropdown-menu__mobile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 150px;

  li {
    margin-bottom: 44px;
    @include mobile {
      margin-bottom: 2px;
    }
  }
}
.dropdown-menu__mobile {
  display: none;
}

.dropdown-menu__mobile-wrapper li.active a {
  color: #E5876C;
}