:root {
	--gray-color: #F1F1F1;
	--gray-dark-color: #A7A7A7;
	--milk-color: #abc8ea;
	--white-color: #fff;
	--black-color: #222;
	--blue-color: #0656b4;
	--gray-light: #767676;
}


// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #E9E9E9;
$color-blue: #5093CF;
$color-main: #014751;
$color-hover: #11839E;
$color-gold: #F6D483;
$color-main: #F0A754;

