* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: #353535;
}

input {
  outline: none;
  border: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a, input, button, li {
  outline: none;
  transition: all 0.3s ease-in;
}

input:focus {
  border: none;
  outline: none;
}

//::-webkit-scrollbar {
//  width: 5px;
//  height: 5px;
//}

//::-webkit-scrollbar-track {
//  background-color: var(--gray-color);
//
//}

//::-webkit-scrollbar-thumb {
//  box-shadow: inset 0 0 6px rgb(14, 14, 14);
//  border-radius:1rem;
//}

button {
  border: none;
}

input {
  font-size: 0.8rem;
}


.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  background: #E5876C;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background: #f67a55;
    transition: all .3s ease-in;
  }
}

.main-color {
  color: #E5876C;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  color: #353535;
}

h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #E5876C;;
}

h1, h2, h3 {
  margin: 0;
}

.block-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-circle {
  width: 12px;
  height: 12px;
  background: #E5876C;
  border-radius: 50%;
  margin-right: 10px;

  @include mobile {
    width: 10px;
    height: 10px;
  }
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #E5876C;
  margin-bottom: 16px;

  @include mobile {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 14px;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @include media-max(768) {
    font-size: 14px;
    line-height: 20px;
  }

  &.strong {
    font-weight: 700;
  }

  & .gray {
    color: #939393;
  }
}

.fw-600 {
  font-weight: 600;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

section {
  padding: 68px 0;
  overflow: hidden;

  @include mobile {
    padding: 40px 0;
  }
}

.color-orange {
  color: #E5876C;
}

.form-btn {
  max-width: 270px;
  width: 100%;
  margin-top: 8px;

  button {
    width: 100%;
  }
}

.relative {
  position: relative;
}

.mobile-none {
  @include mobile {
    display: none !important;
  }
}

.tablet-none {
  @include tablet {
    display: none !important;
  }
}

body.hide {
  overflow: hidden;
}

.default-btn {
  transition: all 0.3s ease;

  &:hover {
    color: #333;
  }
}


input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.sec-p0 {
  section {
    padding: 0;
    overflow: inherit;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


@keyframes text-scrolling {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

.animate-text {
  animation: text-scrolling 20s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;

  &.left {
    animation-direction: reverse;
  }
}

.bg-text-container {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: -999;
}

.mb68 {
  margin-bottom: 68px;
}


/*GIF*/

.gif-main {
  max-width: 514px;
  width: 100%;
}



.started-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  video#autoplay {
    height: 400px !important;
  }
}


@media (max-width: 1024px) {
  .pay-img.application-img {
    width: 100%;
    margin-right: 240px;
    display: flex;
    justify-content: center;
  }
}

